body{
    margin: 0;
    padding: 0;
    background-color: #353535;
}

.cent{
    overflow: scroll;
}

.fix{
    height: max-content;
    width: max-content;
    padding: 2rem;
    margin: 10rem;
}

.banner{
    width: 100em;
    height: 34.5em;
    background-color: #97b8d3;
    text-align: center;
    border-radius: 3rem;
    overflow: hidden;
}

.banner h1{
    margin: 0.8rem;
    font-size: 7rem;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.clock{
    background-color: brown;
    width: 100%;
    position: relative;
    display: flex;
}

.num{
    margin: 0.5rem;
    height: 22.5rem;
    width: 14rem;
    background-color: brown;
    position: relative;
}

.colon{
    padding-top: 5rem;
    position: relative;
    height: 18rem;
}
.colon img{
    width: 70%;
    z-index: 100;
}

.seg{
    padding: 0.9rem;
    height: 9rem;
}
.seg-hz{
    transform: rotate(90deg);
}
.seg img{
    width: 100%;
    height: 100%;
}

.num .seg-a{
    position: absolute;
    top: -3.5rem;
    left: 4.7rem;
}
.num .seg-b{
    position: absolute;
    top: 1.2rem;
    left: 9.4rem;
}
.num .seg-c{
    position: absolute;
    top: 10.4rem;
    left: 9.4rem;
}
.num .seg-d{
    position: absolute;
    top: 15rem;
    left: 4.7rem;
}
.num .seg-e{
    position: absolute;
    top: 10.4rem;
    left: 0;
}
.num .seg-f{
    position: absolute;
    top: 1.2rem;
    left: 0;
}
.num .seg-g{
    position: absolute;
    left: 4.7rem;
    top: 5.8rem;
}

.num0 .seg-g{
    opacity: 15%;
}
.num1 .seg-g,.num1 .seg-a,.num1 .seg-d,.num1 .seg-e,.num1 .seg-f{
    opacity: 15%;
}
.num2 .seg-c,.num2 .seg-f{
    opacity: 15%;
}
.num3 .seg-e,.num3 .seg-f{
    opacity: 15%;
}
.num4 .seg-a,.num4 .seg-e,.num4 .seg-d{
    opacity: 15%;
}
.num5 .seg-e,.num5 .seg-b{
    opacity: 15%;
}
.num6 .seg-b{
    opacity: 15%;
}
.num7 .seg-e,.num7 .seg-f,.num7 .seg-g,.num7 .seg-d{
    opacity: 15%;
}
.num8{}
.num9 .seg-e{
    opacity: 15%;
}