html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #414141;
}

.cent{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading{
    text-align: center;
    font-family: sans-serif;
    color: bisque;
}

.heading h1{
    margin: 0;
    font-size: 4rem;
}
.heading p{
    margin:  0 0 3rem 0;
    font-size: 1.6rem;
}

.container{
    width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container video{
    width: 80%;
}

.controls{
    width: 70%;
    padding:0 2%;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    background-color: tomato;
    justify-content: space-between;
}

.overlay-div{
    display: grid;
    grid-template-columns: 1fr;
}
.overlay-controls {
    transition: ease-in-out;
    grid-row-start: 1;
    grid-column-start: 1;
}
.volume-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seeker{
    background-color: aquamarine;
    border-radius: 5rem;
    overflow: hidden;
    width: 90%;
    height: 40%;
    z-index: 10;
}
.seeker div{
    width: 0%;
    height: 100%;
    opacity: 0.5;
    transition: ease 1s;
    background-color: tomato;
}


/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width:8rem;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid #053a5f;
   outline: 3px solid #053a5f;
   outline-offset: 0.125rem; 
 }
 
 /******** Firefox styles ********/
 /* slider track */
 input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
 
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb {
   border: 1px solid #053a5f;
   outline: 3px solid #053a5f;
   outline-offset: 0.125rem; 
 } 