html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #414141;
}

.cent{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading{
    text-align: center;
    font-family: sans-serif;
    color: bisque;
}

.heading h1{
    margin: 0;
    font-size: 4rem;
}
.heading p{
    margin:  0 0 3rem 0;
    font-size: 1.6rem;
}

.gallary{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 75%;
}

.images{
    cursor: pointer;
    height: 100%;
    width: 20%;
    margin: 0 0.8rem;
    border-radius: 5rem;
    transition: ease-in-out 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid whitesmoke;
}
.images:hover{
    width: 80%;
}
.images h1, .images p{
    visibility: hidden;
}

.details{
    color: aliceblue;
    border: 4px solid whitesmoke;
    background-size: cover;
    border-radius: 5rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.5s;
    overflow: hidden;
    z-index: -1;
}
.cross{
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 95%;
}
.details span a{
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: sans-serif;
    color: blanchedalmond;
    position: absolute;
    top: 2%;
    left: 2%;
}