html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #414141;
}

.cent {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  margin-top: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: bisque;
}

.heading h1 {
  margin: 0;
  font-size: 4rem;
}
.heading p {
  margin: 0 0 3rem 0;
  font-size: 1.6rem;
}

.ox {
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid aquamarine;
}

.container {
  height: 40rem;
  max-height: 40rem;
  width: 40rem;
}

#box {
  background-color: #cf4b4b;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.winbox,
.usersin {
  position: absolute;
  background-color: aquamarine;
  display: flex;
  height: inherit;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s;
}

.container h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
    color: #3d989b;
}

.winbox {
  height: 0;
}

input[type="text"] {
  width: 50%;
  font-size: 1.5rem;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.btn {
  margin: 20px;
  border: none;
  border-radius: 0.5rem;
  padding: .6rem 2rem;
  font-size: 1.5rem;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #000;
}
.btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  direction: rtl;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn:hover::after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}
